.modal {
    position: absolute;
    right: 0px;
    top: 44px;
    z-index: 9999;

    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.modal:after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    position: absolute;
    top: -6px;
    right: 58px;
    transform: rotate(45deg);
    background: #fff;
    z-index: 2;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.modal-content {
    padding: 20px 19px 13px;
    width: 237px;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    position: relative;
    z-index: 1;
}
.modal__title {
    margin-bottom: 14px;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    color: #575757;
}
.modal-input {
    margin-bottom: 15px;
    width: 100%;
    position: relative;
}
.modal-input input {
    height: 28px;
    font-size: 13px;
}
.form_error {
    color: #f00;
    font-size: 11px;
    padding-left: 16px;
    margin-bottom: 0;
    position: absolute;
    bottom: -16px;
}
.modal-button_block {
    margin-bottom: 15px;
}
.modal-button_block .btn,
.modal-button_block .btn-empty {
    width: 100%;
    height: 28px;
    line-height: 27px;
}
.modal-button_line {
    text-align: center;
}
.register_privacy {
}
.register_privacy p {
    font-size: 10px;
    color: #747474;
    line-height: 12px;
}

.profile_block {
}
.modal-profile_line {
    padding: 15px 0px 15px;
    border-bottom: 1px solid #c4c4c4;
    font-size: 14px;
    color: #575757;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
}
.modal-profile_line a {
    color: #575757;
}
.modal-profile_line:last-of-type {
    border-bottom: none;
    padding-bottom: 25px;
}
.modal-profile_line:first-of-type {
    padding-top: 0;
}
.modal-profile_data_title {
    font-weight: 600;
    margin-bottom: 5px;
}
.modal-profile_data_text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.modal-profile_icon {
    width: 45px;
    position: relative;
    padding-right: 10px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.modal-profile_line .profile_icon {
    width: 25px;
    height: 25px;
    padding-left: 1px;
    text-align: center;
    line-height: 25px;
    background: #5bb106;
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.modal-profile_data {
    width: calc(100% - 45px);
}

.modal__text {
    font-size: 12px;
    text-align: center;
    padding-bottom: 15px;
    font-weight: 400;
}

