.modal {
    position: absolute;
    right: 0px;
    top: 44px;
    z-index: 9999;

    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.modal:after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    position: absolute;
    top: -6px;
    right: 58px;
    transform: rotate(45deg);
    background: #fff;
    z-index: 2;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.modal-content {
    padding: 20px 19px 13px;
    width: 237px;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    position: relative;
    z-index: 1;
}
.modal__title {
    margin-bottom: 14px;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    color: #575757;
}
.modal-input {
    margin-bottom: 15px;
    width: 100%;
    position: relative;
}
.modal-input input {
    height: 28px;
    font-size: 13px;
}
.form_error {
    color: #f00;
    font-size: 11px;
    padding-left: 16px;
    margin-bottom: 0;
    position: absolute;
    bottom: -16px;
}
.modal-button_block {
    margin-bottom: 15px;
}
.modal-button_block .btn,
.modal-button_block .btn-empty {
    width: 100%;
    height: 28px;
    line-height: 27px;
}
.modal-button_line {
    text-align: center;
}
.register_privacy {
}
.register_privacy p {
    font-size: 10px;
    color: #747474;
    line-height: 12px;
}

.profile_block {
}
.modal-profile_line {
    padding: 15px 0px 15px;
    border-bottom: 1px solid #c4c4c4;
    font-size: 14px;
    color: #575757;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
}
.modal-profile_line:last-of-type {
    border-bottom: none;
    padding-bottom: 25px;
}
.modal-profile_line:first-of-type {
    padding-top: 0;
}
.modal-profile_data_title {
    font-weight: 600;
    margin-bottom: 5px;
}
.modal-profile_data_text {
}

.modal-profile_icon {
    width: 45px;
    position: relative;
    padding-right: 10px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.modal-profile_line .profile_icon {
    width: 25px;
    height: 25px;
    padding-left: 1px;
    text-align: center;
    line-height: 25px;
    background: #5bb106;
    color: #ffffff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.modal-profile_data {
    width: calc(100% - 45px);
}

.modal__text {
    font-size: 12px;
    text-align: center;
    padding-bottom: 15px;
}

/* 
=
=
=
=
=
=
=
=
=
=
=
=
=
=
 */

.modal-forget {
    margin-bottom: 10px;
    text-align: center;
}
.popup-forget span.popup-forget__link {
    font-size: 10px;
    color: #015aa6;
    cursor: pointer;
    text-decoration: underline;
}
.popup-forget span.popup-forget__link:hover {
    text-decoration: none;
}

.reg_privacy {
    text-align: left;
    padding-top: 17px;
}
.reg_privacy p {
    font-size: 10px;
    color: #747474;
    line-height: 12px;
}
.reg_privacy p a {
    font-size: 10px;
    color: #015aa6;
}

.popup-textarea {
    padding: 0px 0 20px 0;
    width: 100%;
}
.popup-button {
    padding-top: 7px;
    text-align: center;
    width: 100%;
}

.popup-support-variant {
    margin: 0 -50px;
    padding: 30px 0 20px 0;
}
.popup-support-variant__title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 14px;
    font-weight: 600;
}
.popup-support-variant-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.popup-support-variant-col {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333%;
    flex: 0 0 33.333%;
    max-width: 33.333%;
    margin-bottom: 20px;
    text-align: center;
}
.popup-input .checkbox label:after {
    right: auto;
    left: 0;
}
.popup-input .checkbox label {
    padding: 0 0 0 25px;
    font-size: 11px;
}
.popup-input .checkbox label a {
    color: #499fd2;
}
.popup__text {
    padding: 10px 0;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
}
.popup__text.reference_text {
    padding: 10px 0 0;
    font-size: 11px;
    line-height: 12px;
    cursor: pointer;
}
.popup-policy-block:last-block {
    padding-bottom: 0;
}
.popup-policy-block {
    padding-bottom: 30px;
}
.popup-policy-block__title {
    margin-bottom: 15px;
    font-weight: 700;
    text-transform: uppercase;
}

.popup-content_big {
    width: 800px;
}
.popup.popup-language {
}
.popup.popup-country .popup-body,
.popup.popup-language .popup-body {
    height: 100vh;
}
.popup-content.popup_modal_main {
    width: 596px;
    height: 100vh;
    max-width: 80% !important;
    background: #fff;
    padding: 42px 30px 40px 62px;
    border-radius: 0px;
    position: fixed;
    top: 0;
    left: auto;
    right: 0;
    bottom: 0;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.25);

    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}
.popup_modal_cont {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;

    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}
.popup_modal_top {
    margin-bottom: 63px;
    /* overflow: hidden; */
}
.popup_modal_search {
    width: 305px;
    max-width: 100%;
    height: 34px;
    overflow: hidden;
    position: relative;
    display: inline-block;
}
.popup_modal_search input {
    width: 100%;
    height: 34px;
    padding: 0px 52px 0 17px;
    font-size: 14px;
    border: 1px solid #bcbaba;
    border-radius: 7px;
}
.popup_modal_search .icon_search {
    position: absolute;
    top: 7px;
    right: 17px;
}
.popup_modal_search .icon_search svg {
    width: 18px;
    height: auto;
    position: relative;
    top: 1px;
}

.popup_modal_row {
    margin: 0 -20px;
    height: 100%;
    overflow: auto;
    -webkit-order: 1;
    -moz-flex-order: 1;
    -ms-flex-order: 1;
    order: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}
.popup_modal_row .view_row {
    width: 100%;
}
.popup_modal_main .view {
}

.popup_modal_elem {
    width: 50%;
    padding: 0px 20px 0px 20px;
    margin-bottom: 30px;
    display: inline-block;
}

.popup_modal_elem.hide {
    display: none;
}
.popup_modal_elem_main {
    cursor: pointer;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.popup_modal_elem_main img {
    margin-right: 10px;
    display: inline-block;
    width: 22px;
}
.popup_modal_elem_main .lang {
    color: #575757;
    display: inline-block;
    font-size: 14px;
}

.count_regions {
    margin: 0px;
    padding-top: 25px;
}
.count_regions .crtab {
    height: 41px;
    margin: 0 -27px;
    display: inline-block;
    position: relative;
    text-align: center;
    cursor: pointer;
    padding: 0 60px;
}
.count_regions .crtab:after,
.count_regions .crtab:before {
    content: "";
    display: block;
    position: absolute;
    bottom: -3px;
    z-index: -1;
    height: 44px;
    width: 62px;
    fill: red;
}
.count_regions .crtab:before {
    right: 0;
    background: url("../../assets/img/tab_corner.svg");
}
.count_regions .crtab:after {
    left: 0;
    background: url("../../assets/img/tab_corner.svg");
    transform: scale(-1, 1);
}
.count_regions .crtab.active {
    z-index: 9;
}
.count_regions .crtab:first-of-type {
    padding-left: 0;
}
.count_regions .crtab:first-of-type span {
    padding-left: 64px;
}
.count_regions .crtab:first-of-type:after {
    display: none;
}

.count_regions .crtab span {
    pointer-events: none;
    padding: 0 18px;
    color: #878787;
    height: 46px;
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    line-height: 46px;
    background: #fff;
    position: relative;
}
.count_regions .crtab span:before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.6;
    background: url("../../assets/img/tab_corner_line.svg") repeat-x;
}

.popup_modal_elem.country .lang {
    text-transform: capitalize;
}

.popup_modal__close {
    position: absolute;
    top: 50px;
    right: 50px;
    cursor: pointer;
}
.popup_modal__close svg {
    width: 18px;
    height: auto;
}
.popup_modal__close:hover {
    opacity: 0.85;
}

.recover_bot {
    padding-top: 10px;
    text-align: center;
}

.popup-policy-block__title {
    line-height: 1.2;
}
.popup a:hover {
    border-bottom: 1px solid transparent;
}
.popup a {
    color: #499fd2;
    border-bottom: 1px solid #499fd2;
}

.popup-content.popup-content_support {
    width: 700px;
    max-width: 100%;
    padding: 50px 50px 36px;
    text-align: center;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.popup-content.popup-content_support p {
    font-size: 14px;
    line-height: 20px;
}
.popup_support_title {
    font-weight: 500;
    font-size: 16px;
    color: #575757;
    margin-bottom: 27px;
}
.payment_system {
    margin: 23px -12px 40px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.payment_system .payment_system_elem {
    width: 33.333%;
    padding: 0 12px;
}
.payment_system_elem_main {
    border: 1px solid #bcbaba;
    width: 170px;
    height: 58px;
    max-width: 100%;
}
.payment_system a {
    width: 100%;
    height: 100%;
    outline: none;
    text-decoration: none;
    border: none !important;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.payment_system svg {
    max-width: 100%;
    height: auto;
    display: inline-block;
}
.payment_system a:hover {
    opacity: 0.85;
}
.popup_support-button {
    margin-bottom: 38px;
}
.popup-content_support button {
    width: 209px;
}
.support_txt {
    width: 518px;
    max-width: 100%;
    margin: 0 auto;
}

.track-vertical {
    top: 2px;
    bottom: 2px;
    right: 0px;
    border-radius: 6px;
    background: #e3e2e2;
}
.thumb-vertical {
    position: relative;
    display: block;
    width: 100%;
    cursor: pointer;
    border-radius: inherit;
    background-color: #a39e9e;
}

#popup-auth .popup-button {
    margin-bottom: 18px;
}

.mapWorld {
}
.mapWorld_cont {
}
.popup_description {
    display: none;
    margin-bottom: 14px;
}
.popup_description svg {
    margin-right: 10px;
    width: 16px;
    height: auto;
}
.popup_description p {
    font-weight: 300;
    font-size: 9px;
    color: #747474;
    margin: 0;
}

.wrapper.wrapper-main ~ .popup-language {
}
.wrapper.wrapper-main ~ .popup-country {
}

@media only screen and (max-width: 1500px) {
    .popup_modal_top {
        margin-bottom: 30px;
    }
    .popup_modal__close svg {
        width: 17px;
        height: 17px;
    }
    .popup_modal_elem {
        margin-bottom: 20px;
    }

    .count_regions {
    }
}
@media only screen and (max-width: 1024px) {
    .popup.popup-country .popup-body,
    .popup.popup-language .popup-body {
        height: calc(var(--vh, 1vh) * 100);
    }
    .popup_country.popup_modal_main {
        height: calc(var(--vh, 1vh) * 100);
        width: 340px;
        max-width: 80%;
        left: 0;
        right: auto;
        top: 0px;
        bottom: 0px;
        height: 100vh;
        padding: 25px 20px 40px;
    }
    .popup_modal_elem {
        width: 50%;
    }
    .popup_country .popup_modal_elem {
        width: 50%;
        vertical-align: top;
    }

    .wrapper.wrapper-main ~ .popup-language .popup-content.popup_modal_main,
    .wrapper.wrapper-main ~ .popup-country .popup-content.popup_modal_main {
        padding: 30px 30px 30px;
        max-width: 80%;
    }
    .popup_description p {
        font-size: 11px;
    }
    .popup_modal__close {
        display: none;
    }
    .popup_modal_search {
        display: block;
    }
    .popup_description {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .popup_modal_top {
        padding-bottom: 0px;
        margin-bottom: 22px;
        border-bottom: none;
    }
    .popup_modal_search {
        height: auto;
    }
    .popup_modal_search input {
        height: 27px;
        border-radius: 4px;
        font-size: 11px;
        padding: 0px 35px 0 10px;
    }
    .popup_modal_search .icon_search {
        position: absolute;
        top: 2px;
        right: 0px;
        width: 30px;
        height: 22px;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .popup_modal_search .icon_search svg {
        width: 14px;
        height: 14px;
    }
    .popup_modal_elem_main .lang {
        font-size: 13px;
    }
    .popup_modal_elem_main img {
        margin-right: 7px;
        width: 22px;
        height: 15px;
    }
}
@media only screen and (max-width: 730px) {
}
@media only screen and (max-width: 460px) {
    .popup-content.popup-content_support {
        padding: 50px 30px;
    }
    .popup_country.popup_modal_main,
    .popup-content.popup_modal_main {
        padding: 20px 20px 30px;
    }
    .popup_modal_elem {
        width: 100%;
    }
    .popup_modal_row {
        margin: 0;
        padding: 0;
        height: auto;
        overflow: auto;
    }
    .popup_modal_elem {
        padding: 0 20px 0 0;
    }
    .payment_system a {
        padding: 9px;
    }
    .payment_system {
        margin: 0 -6px 23px;
        width: calc(100% + 12px);
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
    }
    .payment_system .payment_system_elem {
        padding: 0 6px;
    }
    .payment_system_elem_main {
        height: 100%;
        width: 100%;
    }
    .wrapper.wrapper-main ~ .popup-language .popup-content.popup_modal_main,
    .wrapper.wrapper-main ~ .popup-country .popup-content.popup_modal_main {
        padding-bottom: 56px;
    }
}
@media only screen and (max-width: 390px) {
    .popup_country .popup_modal_elem {
        width: 100%;
    }
    .popup_description p {
        font-size: 10px;
    }
    .info_block__line_support .payment_system {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .info_block__line_support .payment_system .payment_system_elem {
        width: 146px;
        height: 50px;
        margin-bottom: 20px;
    }
}
@media only screen and (max-width: 340px) {
    .popup_country.popup_modal_main,
    .popup-content.popup_modal_main {
        padding: 15px 15px 30px;
    }
    .popup_description {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    .popup_description svg {
        position: relative;
        top: 3px;
    }
}
