.popup {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    overflow: hidden;
    z-index: 9999;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.popup.open {
    opacity: 1;
    visibility: visible;
}
.popup-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 20px 10px;
    min-height: 100%;
}
.popup.popup-body {
    height: 100vh;
}
.popup-main {
    z-index: 5;
    width: 596px;
    height: 100vh;
    max-width: 80% !important;
    background: #fff;
    padding: 42px 30px 40px 62px;
    border-radius: 0px;
    position: fixed;
    top: 0;
    left: auto;
    right: 0;
    bottom: 0;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.25);

    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}
.popup_close {
    position: absolute;
    top: 50px;
    right: 50px;
    cursor: pointer;
}
.popup_close svg {
    width: 18px;
    height: auto;
}
.popup_close:hover {
    opacity: 0.85;
}
.popup_description {
    display: none;
    margin-bottom: 14px;
}
.popup_description svg {
    margin-right: 10px;
    width: 16px;
    height: auto;
}
.popup_description p {
    font-weight: 300;
    font-size: 9px;
    color: #747474;
    margin: 0;
}
.popup_content {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;

    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}
.popup_content_top {
    margin-bottom: 63px;
}
.popup_content_search {
    width: 305px;
    max-width: 100%;
    height: 34px;
    overflow: hidden;
    position: relative;
    display: inline-block;
}
.popup_content_search input {
    width: 100%;
    height: 34px;
    padding: 0px 52px 0 17px;
    font-size: 14px;
    border: 1px solid #bcbaba;
    border-radius: 7px;
}
.popup_content_search .icon_search {
    position: absolute;
    top: 7px;
    right: 17px;
}
.popup_content_search .icon_search svg {
    width: 18px;
    height: auto;
    position: relative;
    top: 1px;
}
.popup_content_row {
    margin: 0 -20px;
    height: 100%;
    overflow: auto;
    -webkit-order: 1;
    -moz-flex-order: 1;
    -ms-flex-order: 1;
    order: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}
.popup_content_row .view_row {
    width: 100%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.track-vertical {
    top: 2px;
    bottom: 2px;
    right: 0px;
    border-radius: 6px;
    background: #e3e2e2;
}
.thumb-vertical {
    position: relative;
    display: block;
    width: 100%;
    cursor: pointer;
    border-radius: inherit;
    background-color: #a39e9e;
}
.popup_content_elem {
    width: 50%;
    padding: 0px 20px 0px 20px;
    margin-bottom: 30px;
    display: inline-block;
}

.popup_content_elem.hide {
    display: none;
}
.popup_content_elem_main {
    height: 22px;
    cursor: pointer;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.popup_content_elem_main img {
    margin-right: 10px;
    display: inline-block;
    width: 22px;
}
.popup_content_elem_main .lang {
    color: #575757;
    display: inline-block;
    font-size: 14px;
}
.popup_content_elem.country .lang {
    text-transform: capitalize;
}
@media only screen and (max-width: 1500px) {
    .popup_content_top {
        margin-bottom: 30px;
    }
    .popup_close svg {
        width: 17px;
        height: 17px;
    }
    .popup_content_elem {
        margin-bottom: 20px;
    }
}
@media only screen and (max-width: 1024px) {
    .popup.popup-country .popup-body,
    .popup.popup-language .popup-body {
        height: calc(var(--vh, 1vh) * 100);
    }
    .popup .popup-main {
        height: calc(var(--vh, 1vh) * 100);
        width: 340px;
        max-width: 80%;
        left: 0;
        right: auto;
        top: 0px;
        bottom: 0px;
        height: 100vh;
        padding: 25px 20px 40px;
    }
    .popup_content_elem {
        width: 50%;
    }
    .popup_country .popup_content_elem {
        width: 50%;
        vertical-align: top;
    }
    .popup .popup-main {
        padding: 30px 30px 30px;
        max-width: 80%;
    }
    .popup_description p {
        font-size: 11px;
    }
    .popup_close {
        display: none;
    }
    .popup_content_search {
        display: block;
    }
    .popup_description {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .popup_content_top {
        padding-bottom: 0px;
        margin-bottom: 22px;
        border-bottom: none;
    }
    .popup_content_search {
        height: auto;
    }
    .popup_content_search input {
        height: 27px;
        border-radius: 4px;
        font-size: 11px;
        padding: 0px 35px 0 10px;
    }
    .popup_content_search .icon_search {
        position: absolute;
        top: 2px;
        right: 0px;
        width: 30px;
        height: 22px;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .popup_content_search .icon_search svg {
        width: 14px;
        height: 14px;
    }
    .popup_content_elem_main .lang {
        font-size: 13px;
    }
    .popup_content_elem_main img {
        margin-right: 7px;
        width: 22px;
        height: 15px;
    }
}

@media only screen and (max-width: 460px) {
    .popup .popup-main {
        padding: 20px 20px 30px;
    }
    .popup_content_elem {
        width: 100%;
    }
    .popup_content_row {
        margin: 0;
        padding: 0;
        height: auto;
        overflow: auto;
    }
    .popup_content_elem {
        padding: 0 20px 0 0;
    }
    .popup .popup-main {
        padding-bottom: 56px;
    }
}
@media only screen and (max-width: 390px) {
    .popup_country .popup_content_elem {
        width: 100%;
    }
    .popup_description p {
        font-size: 10px;
    }
}
@media only screen and (max-width: 340px) {
    .popup .popup-main {
        padding: 15px 15px 30px;
    }
    .popup_description {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    .popup_description svg {
        position: relative;
        top: 3px;
    }
}
