.footer {
    padding: 20px 0 7px;
    text-align: center;
    background: #818181;
    position: relative;
    z-index: 99;
}
.footer_main {
    position: relative;
}
.wrapper_res .footer {
}

.footer-links {
    position: relative;
    margin: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.footer-links__item {
    margin: 0 30px;
    font-size: 13px;
    font-weight: 300;
}
.copyright,
.footer-links__item button,
.footer-links__item button span,
.footer-links__item a {
    color: #fff;
}
.footer-links__item.copyright {
    font-size: 9px;
    position: absolute;
    top: 3px;
    left: 40px;
    font-weight: 300;
    margin: 0;
}

.footer-share {
    /* position: absolute;top:4px;right: 100px;*/
    display: inline-block;
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
}
.footer-share_main {
    display: inline-block;
    position: relative;
    top: -7px;
}
.footer-share_main button {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #818181;
}
.footer-share__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 30px;
    height: 30px; /*border-radius: 50%;background: #fff;*/
    margin-left: 10px;
    /*-webkit-box-shadow: 1.634px 2.516px 6.84px 2.16px rgba(8, 38, 61, 0.04);
    box-shadow: 1.634px 2.516px 6.84px 2.16px rgba(8, 38, 61, 0.04);*/
}
.footer-share__icon .icon_login {
    position: relative;
    top: 2px;
    left: -2px;
}
/*.footer-share__icon.bt_icon {
    background: none;box-shadow: none;margin-left: 6px;
}*/
.footer-share__icon svg {
    height: auto;
    width: 17px;
}
.footer-share_main .footer-links__item {
    text-align: center;
    margin: 0;
}
.footer-share-content.open {
    visibility: visible;
    opacity: 1;
}
.footer-share-content {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom: 45px;
    left: 0;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 15px 10px;
    background: #fff;
    box-shadow: 1.634px 2.516px 6.84px 2.16px rgba(8, 38, 61, 0.04);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.footer-share-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.footer-share__btn {
    margin: 0 10px;
    width: 22px;
    height: 22px;
}
.footer-share__btn:hover img {
    filter: grayscale(0);
}
.footer-share__btn img {
    max-width: 100%;
    max-height: 100%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-size: 12px;
    white-space: nowrap;
}
.footer-share.active {
    color: #499fd2;
}

.cabinet_content .footer {
    background: none;
}
.cabinet_content .footer .copyright,
.cabinet_content .footer .footer-links__item button,
.cabinet_content .footer .footer-links__item button span,
.cabinet_content .footer .footer-links__item a {
    color: #575757;
}

@media only screen and (max-width: 1223px) {
    .footer-links__item {
        margin: 0 20px;
    }
}
@media only screen and (max-width: 1024px) {
    .footer {
        padding: 12px 20px;
    }

    .footer_main {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .footer-share_main {
        top: 0;
    }
    .footer-links__item {
        font-size: 12px;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .footer_main {
        display: block;
    }
    .footer-links {
        width: 100%;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .footer-links__item.copyright {
        position: relative;
        left: 0;
        top: 0;
        margin: 0 20px;
    }
    .footer-links__item button,
    .footer-links__item button span,
    .footer-links__item a {
        font-size: 11px;
    }
    .footer-share-content {
        left: auto;
        right: 7px;
    }
}
@media only screen and (max-width: 960px) {
    .footer-links__item {
        margin: 0 20px;
    }
}
@media only screen and (max-width: 800px) {
}
@media only screen and (max-width: 680px) {
    .footer-links__item.copyright {
        display: none;
    }
}
@media only screen and (max-width: 580px) {
    .info_block__line.info_block__line_footer .footer {
        padding: 12px 10px;
    }
    .footer-links__item {
        margin: 0 10px;
    }
}
@media only screen and (max-width: 480px) {
    /* .footer {
        padding: 10px 5px;
    }
    .footer-links__item button,
    .footer-links__item button span,
    .footer-links__item a {
        font-size: 10px;
    }
    .footer-links__item.footer-share {
        margin: 0 2px 0 20px;
    } */
}
@media only screen and (max-width: 440px) {
    .footer {
        padding: 12px 9px;
    }
    .footer-links__item:first-of-type {
        margin: 0 10px 0 9px;
    }
    .footer-links__item {
        margin: 0 10px;
    }
    .footer-links__item.footer-share {
        margin: 0 0px 0 10px;
    }
    .info_wrapper .footer {
        background-color: #fff;
    }
    .info_wrapper .footer .footer-links__item button,
    .info_wrapper .footer .footer-links__item button span,
    .info_wrapper .footer .footer-links__item a {
        color: #000;
    }
    .info_wrapper .footer .footer-share__icon svg path {
        stroke: #959292;
    }
    .footer-share__icon {
        margin-left: 5px;
    }
    .footer-share__icon svg {
        height: auto;
        width: 15px;
    }
}
@media only screen and (max-width: 400px) {
    .footer-links__item button,
    .footer-links__item button span,
    .footer-links__item a {
        font-size: 9px;
    }
}
@media only screen and (max-width: 360px) {
    .footer-share__icon svg {
        height: auto;
        width: 14px;
    }
    .footer-share__icon {
        margin-left: 2px;
    }
    .footer-links__item:first-of-type {
        margin: 0 7px 0 9px;
    }
    .footer-links__item {
        margin: 0 7px;
    }
    .footer-links__item.footer-share {
        margin: 0 0px 0 7px;
    }
}
@media only screen and (max-width: 345px) {
    .footer-links__item button,
    .footer-links__item button span,
    .footer-links__item a {
        font-size: 8px;
    }
}
/*
@media only screen and (max-width: 1366px) and (max-height: 657px) {
    .footer {
        padding: 25px 0;
    }
}*/
